@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../fonts/Rubik-Black.ttf);
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../fonts/Rubik-Bold.ttf);
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../fonts/Rubik-ExtraBold.ttf);
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../fonts/Rubik-Light.ttf);
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../fonts/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../fonts/Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik", sans-serif;
  src: url(../../fonts/Rubik-SemiBold.ttf);
}
html, body * {
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.hero {
  padding-top: 80px;
}

.container, .container-lg, .container-md, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1248px;
}

.container-lg {
  max-width: 1480px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

header {
  background: #0d0d0d;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 1;
  background-color: #0d0d0d;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__left__line {
  height: 80px;
  width: 2px;
  background: #fff;
  opacity: 0.1;
  margin-left: 66px;
  margin-right: 64px;
}
@media (max-width: 400px) {
  .navbar__left__line {
    display: none;
  }
}
.navbar__left__link {
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.navbar__left__link li a {
  position: relative;
  color: #fff;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.navbar__left__link li a::after {
  content: "";
  position: absolute;
  background-color: red;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
  z-index: 99;
}
.navbar__left__link li a:hover::after {
  width: 100%;
}
.navbar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar__right > button {
  padding: 20px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
}
.navbar__right > button:hover {
  background: #f2c79b;
}
@media (max-width: 600px) {
  .navbar__right > button {
    display: none;
  }
}
.navbar__right > button a {
  color: #1c1d28;
}

@media (max-width: 900px) {
  .navbar__left__link {
    display: none;
  }
}
.hamburger {
  display: none;
}
@media (max-width: 900px) {
  .hamburger {
    display: inline-block;
    padding-left: 24px;
    cursor: pointer;
  }
}

#navbar-responsive {
  position: fixed;
  background: url(../images/background.png);
  background: #161722;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  opacity: 0.99;
  z-index: 10;
}
#navbar-responsive .res-nav-list {
  list-style-type: none;
}
#navbar-responsive .res-nav-item {
  margin: 30px 0px;
  text-align: center;
}
#navbar-responsive .res-nav-link {
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
#navbar-responsive .res-nav-btn {
  padding: 20px 48px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  background-color: #ffd2a4;
  color: #1c1d28;
  text-transform: uppercase;
  transition: 0.5s;
  color: #fff;
}
#navbar-responsive .res-nav-btn:hover {
  background: #f2c79b;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar-shrink {
  margin-top: -15px;
  margin-bottom: -25px;
  box-shadow: 5px 0 10px 3px black;
}

#navbar {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
#navbar .navbar__container {
  display: flex;
  justify-content: space-between;
}
#navbar .navbar__logo {
  display: flex;
  align-items: center;
}
#navbar .navbar__logo a {
  display: flex;
  align-items: center;
}
#navbar .navbar__logo .logo__face {
  padding-right: 11.41px;
}
@media (max-width: 980px) {
  #navbar .navbar__logo .logo__title {
    display: none;
  }
}
#navbar .navbar__catalog {
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#navbar .navbar__catalog button {
  background: transparent;
}
@media (max-width: 500px) {
  #navbar .navbar__catalog {
    display: none;
  }
}
#navbar .navbar__catalog a {
  color: var(--main-on-secondary, #fff);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media (max-width: 768px) {
  #navbar .navbar__catalog a {
    display: none;
  }
}
#navbar .navbar__menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
@media (max-width: 500px) {
  #navbar .navbar__menu {
    display: none;
  }
}
#navbar .navbar__menu h3 {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#navbar .navbar__menu__heart {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#navbar .navbar__menu__heart .favorite-count {
  border-radius: 4px;
  background: var(--main-primary, #f63);
  padding: 4px;
  position: absolute;
  top: -10px;
  right: 0px;
}
#navbar .navbar__menu__heart a {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar .navbar__menu__heart img {
  padding-bottom: 8px;
}
#navbar .navbar__menu__product {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar .navbar__menu__product a {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar .navbar__menu__product img {
  padding-bottom: 8px;
}
#navbar .navbar__menu__cart {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#navbar .navbar__menu__cart .cart-count, #navbar .navbar__menu__cart .favorite-count {
  border-radius: 4px;
  background: var(--main-primary, #f63);
  padding: 4px;
  position: absolute;
  top: -10px;
  right: 0px;
}
#navbar .navbar__menu__cart a {
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#navbar .navbar__menu__cart img {
  padding-bottom: 8px;
}
#navbar .navbar__account a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
#navbar .navbar__account a h2 {
  color: var(--on-surface, #232323);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media (max-width: 780px) {
  #navbar .navbar__account a h2 {
    display: none;
  }
}
@media (max-width: 768px) {
  #navbar .navbar__account a h2,
#navbar .navbar__account a .nav__acc {
    display: none;
  }
}
@media (max-width: 500px) {
  #navbar .navbar__account a {
    display: none;
  }
}
#navbar .navbar__input {
  position: relative;
  width: 30%;
}
#navbar .navbar__input input {
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  background: var(--main-surface, #fff);
  padding: 12px;
  color: var(--grayscale-hard, #8f8f8f);
  /* Desc/Text/S */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 100%;
}
#navbar .navbar__input img {
  position: absolute;
  right: 10px;
  top: 12px;
}
@media (max-width: 500px) {
  #navbar .navbar__input {
    width: 100%;
  }
}

#footer {
  background: url("/image/home/footer-bg.png");
  background-color: #f9f4e2;
  padding-bottom: 28px;
  padding-top: 24px;
}
#footer .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .footer__link {
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  #footer .footer__link {
    width: 50%;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  #footer .footer__link {
    display: none;
  }
}
#footer .footer__link li {
  list-style-type: none;
}
#footer .footer__link li a {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#footer .footer__phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
#footer .footer__phone a {
  color: var(--main-on-surface, #414141);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#footer .footer__social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
}
@media (max-width: 768px) {
  #footer .footer__social {
    grid-template-columns: repeat(2, 1fr);
  }
  #footer .footer__social img {
    padding-top: 0;
  }
}
#footer .dark__footer {
  padding-top: 16px;
  display: flex;
  justify-content: end;
  display: flex;
  gap: 8px;
}
@media (max-width: 768px) {
  #footer .dark__footer {
    padding-top: 0;
  }
}
#footer .dark__footer h4 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#footer .footer__link2 {
  padding-top: 24px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 10px;
  display: flex;
  flex-direction: row;
  display: none;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  #footer .footer__link2 {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #footer .footer__link2 {
    display: flex;
    padding-bottom: 20px;
  }
}
#footer .footer__link2 li {
  list-style-type: none;
}
#footer .footer__link2 li a {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

#footer__fixed {
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
  background-color: #fff;
  display: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
#footer__fixed .footer__fixed {
  display: flex;
  justify-content: space-between;
}
#footer__fixed .footer__fixed .fixed__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer__fixed .footer__fixed .fixed__menu h6 {
  padding-top: 4px;
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 12px */
}
@media (max-width: 500px) {
  #footer__fixed {
    display: inline-block;
  }
}

.aktiv {
  color: var(--main-primary, #f63) !important;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

#backtop {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50%;
  bottom: -100px;
  right: 20px;
  width: 40px;
  height: 40px;
  z-index: -1;
  background-color: #FFA63A;
  -webkit-animation: bgcolor infinite 2s;
          animation: bgcolor infinite 2s;
  transition: 0.5s;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@-webkit-keyframes bgcolor {
  0% {
    background: #e74c3c;
  }
  20% {
    background: #2980b9;
  }
  40% {
    background: #f1c40f;
  }
  60% {
    background: #8e44ad;
  }
  80% {
    background: #34495e;
  }
  100% {
    background: #e74c3c;
  }
}

@keyframes bgcolor {
  0% {
    background: #e74c3c;
  }
  20% {
    background: #2980b9;
  }
  40% {
    background: #f1c40f;
  }
  60% {
    background: #8e44ad;
  }
  80% {
    background: #34495e;
  }
  100% {
    background: #e74c3c;
  }
}
#backtop.backtop-show {
  bottom: 70px;
  z-index: 10;
}

main {
  background: var(--main-bg-page, #fbf8ec);
  display: flex;
  gap: 40px;
}
@media (max-width: 1245px) {
  main {
    display: flex;
  }
  main .main {
    display: flex;
    flex-direction: column !important;
  }
  main .main section {
    justify-content: center;
    margin: 0 auto;
  }
}

.hero__head {
  display: flex;
  align-items: center;
  padding: 27px 0px;
  gap: 16px;
}

#hero {
  background: var(--main-bg-page, #fbf8ec);
}
#hero .hero .products {
  color: var(--grayscale-hard, #8f8f8f);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#hero .hero__head {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-top: 27px;
  flex-wrap: wrap;
}
#hero .hero__head a {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#hero .hero__head .href {
  color: var(--main-on-surface, #414141);
}
#hero .hero h1 {
  color: var(--main-on-surface, #414141);
  /* Desc/Header/S */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  padding-top: 27px;
  padding-bottom: 24px;
}

#product {
  background: var(--main-bg-page, #fbf8ec);
}
#product .product .product__infor {
  display: flex;
  gap: 24px;
  align-items: center;
  padding-bottom: 16px;
  flex-wrap: wrap;
}
#product .product .product__infor h6 {
  color: var(--main-on-surface, #414141);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#product .product .product__infor a {
  color: var(--main-on-surface, #414141);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
#product .product .product__infor h5 {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#product .product .product__infor .rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
#product .product .product__infor .share {
  display: flex;
  align-items: center;
  gap: 8px;
}
#product .product .product__infor .like {
  display: flex;
  align-items: center;
  gap: 8px;
}
#product .product .product__img {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 815px) {
  #product .product .product__img {
    grid-template-columns: repeat(1, 1fr);
  }
}
#product .product .product__img__left {
  display: grid;
  grid-template-columns: 15% 85%;
  gap: 16px;
}
#product .product .product__img__left img {
  width: 100%;
}
#product .product .product__img__left .left__img {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#product .product .product__img__left .left__img img {
  width: 120%;
}
#product .product .product__img__right .product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#product .product .product__img__right .product__price h4 {
  color: var(--grayscale-hardest, #606060);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
}
#product .product .product__img__right .product__price p {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#product .product .product__img__right .product__price h3 {
  color: var(--main-on-surface, #414141);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
#product .product .product__img__right .product__price .product__price__left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#product .product .product__img__right .product__price .product__price__right .info {
  display: flex;
  align-items: center;
  gap: 8px;
}
#product .product__cart button {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  padding: 16px;
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  gap: 20px;
  justify-content: center;
  margin: 24px auto;
}
#product .product__extra .brend,
#product .product__extra .weight {
  background: var(--grayscale-lightest, #f3f2f1);
  padding: 8px;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 8px;
}
#product .product__extra .made {
  padding: 8px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  gap: 8px;
}

#action {
  background: var(--main-bg-page, #fbf8ec);
}
#action .action__header {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
#action .action__header h1 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
#action .action__header .action__title {
  display: flex;
  align-items: center;
  gap: 8px;
}
#action .action__header .action__title a {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#action .action__item {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
#action .action__item__card {
  width: 100%;
  position: relative;
  background: #fff;
}
#action .action__item__card h2 {
  position: absolute;
  left: 8px;
  top: 118px;
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#action .action__item__card .action__like {
  position: absolute;
  right: 8px;
  top: 8px;
}
#action .action__item__card .card__main {
  padding: 8px;
  width: 100%;
}
#action .action__item__card h3 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-top: 8px;
  padding-bottom: 8px;
}
#action .action__item__card button {
  margin-top: 8px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  padding: 8px;
  width: 100%;
}
#action .action__item__card button:hover {
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border: 1px solid var(--main-secondary, #f63);
}
#action .action__item__card .action1 {
  width: 100%;
  padding-bottom: 8px;
}
#action .action__item__card .star-card {
  padding-top: 8px;
  padding-bottom: 8px;
}
#action .action__item__card .productCardContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#action .action__item__card h6 {
  color: var(--grayscale-hardest, #606060);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-right: 6px;
}
#action .action__item__card h4 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  padding-right: 6px;
}
#action .action__item__card h5 {
  color: var(--grayscale-light, #bfbfbf);
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#action .action__item__card .card__body {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
#action .action__item__card .card__body p {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#action .action__item__card .card__head {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
#action .action__item__card .card__head .product-card-price {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#action .action__item__card .card__head__left__head {
  display: flex;
}
#action .action__item__card .card__head__right__head {
  display: flex;
}
@media (max-width: 768px) {
  #action .action__item__card h5,
#action .action__item__card h6 {
    display: none;
  }
}
@media (max-width: 1245px) {
  #action .action__item {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
  #action .action__item .res {
    display: none;
  }
}
@media (max-width: 910px) {
  #action .action__item {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
  #action .action__item .res {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  #action .action__item {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 900px) {
  #action {
    padding-top: 40px;
  }
}
@media (max-width: 600px) {
  #action {
    padding-top: 10px;
  }
}

#news {
  background: var(--main-bg-page, #fbf8ec);
}
#news .news__header {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
#news .news__header h1 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 54px */
}
#news .news__header .news__title {
  display: flex;
  align-items: center;
  gap: 8px;
}
#news .news__header .news__title a {
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#news .news__item {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
#news .news__item button {
  margin-top: 8px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  padding: 8px;
  width: 100%;
}
#news .news__item button:hover {
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border: 1px solid var(--main-secondary, #f63);
}
#news .news__item .product-card-title {
  padding-top: 8px;
  padding-bottom: 8px;
}
#news .news__item .action1 {
  width: 100%;
  padding-bottom: 8px;
}
#news .news__item .star-card {
  padding-top: 8px;
  padding-bottom: 8px;
}
#news .news__item .productCardContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#news .news__item .card__body {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
#news .news__item .card__body p {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#news .news__item .card__head {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
#news .news__item .card__head .product-card-price {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#news .news__item .card__head__left__head {
  display: flex;
}
#news .news__item .card__head__right__head {
  display: flex;
}
#news .news__item__card {
  position: relative;
  background: #fff;
}
#news .news__item__card h2 {
  position: absolute;
  left: 8px;
  top: 118px;
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#news .news__item__card .news__like {
  position: absolute;
  right: 8px;
  top: 8px;
}
#news .news__item__card .card__main {
  padding: 8px;
}
#news .news__item__card h3 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-top: 8px;
  padding-bottom: 8px;
}
#news .news__item__card button {
  margin-top: 8px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  padding: 8px;
  width: 100%;
}
#news .news__item__card button:hover {
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border: 1px solid var(--main-secondary, #f63);
}
#news .news__item__card .news1 {
  width: 100%;
}
#news .news__item__card h6 {
  color: var(--grayscale-hardest, #606060);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-right: 6px;
}
#news .news__item__card h4 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  padding-right: 6px;
}
#news .news__item__card h5 {
  color: var(--grayscale-light, #bfbfbf);
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#news .news__item__card .card__head {
  display: flex;
  justify-content: space-between;
}
#news .news__item__card .card__head__left__head {
  display: flex;
}
#news .news__item__card .card__head__right__head {
  display: flex;
}
@media (max-width: 768px) {
  #news .news__item__card h5,
#news .news__item__card h6 {
    display: none;
  }
}
@media (max-width: 1245px) {
  #news .news__item {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
  #news .news__item .res {
    display: none;
  }
}
@media (max-width: 910px) {
  #news .news__item {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
  #news .news__item .res {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  #news .news__item {
    grid-template-columns: repeat(1, 1fr);
  }
}
#news .news .shop__item {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}
#news .news .shop__item button {
  margin-top: 8px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  padding: 8px;
  width: 100%;
}
#news .news .shop__item button:hover {
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border: 1px solid var(--main-secondary, #f63);
}
#news .news .shop__item .product-card-title {
  padding-top: 8px;
  padding-bottom: 8px;
}
#news .news .shop__item .action1 {
  width: 100%;
  padding-bottom: 8px;
}
#news .news .shop__item .star-card {
  padding-top: 8px;
  padding-bottom: 8px;
}
#news .news .shop__item .productCardContent {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
#news .news .shop__item .card__body {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
#news .news .shop__item .card__body p {
  color: var(--grayscale-light, #bfbfbf);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#news .news .shop__item .card__head {
  display: flex;
  justify-content: space-between;
  padding: 0 8px;
}
#news .news .shop__item .card__head .product-card-price {
  color: var(--grayscale-hardest, #606060);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#news .news .shop__item .card__head__left__head {
  display: flex;
}
#news .news .shop__item .card__head__right__head {
  display: flex;
}
#news .news .shop__item__card {
  position: relative;
  background: #fff;
}
#news .news .shop__item__card h2 {
  position: absolute;
  left: 8px;
  top: 118px;
  padding: 4px 8px;
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
#news .news .shop__item__card .news__like {
  position: absolute;
  right: 8px;
  top: 8px;
}
#news .news .shop__item__card .card__main {
  padding: 8px;
}
#news .news .shop__item__card h3 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-top: 8px;
  padding-bottom: 8px;
}
#news .news .shop__item__card button {
  margin-top: 8px;
  color: var(--main-secondary, #70c05b);
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: transparent;
  border-radius: 4px;
  border: 1px solid var(--main-secondary, #70c05b);
  padding: 8px;
  width: 100%;
}
#news .news .shop__item__card button:hover {
  border-radius: 4px;
  background: var(--main-primary, #f63);
  color: var(--main-on-primary, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  border: 1px solid var(--main-secondary, #f63);
}
#news .news .shop__item__card .news1 {
  width: 100%;
}
#news .news .shop__item__card h6 {
  color: var(--grayscale-hardest, #606060);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding-right: 6px;
}
#news .news .shop__item__card h4 {
  color: var(--main-on-surface, #414141);
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 27px */
  padding-right: 6px;
}
#news .news .shop__item__card h5 {
  color: var(--grayscale-light, #bfbfbf);
  font-family: "Rubik", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
#news .news .shop__item__card .card__head {
  display: flex;
  justify-content: space-between;
}
#news .news .shop__item__card .card__head__left__head {
  display: flex;
}
#news .news .shop__item__card .card__head__right__head {
  display: flex;
}
@media (max-width: 768px) {
  #news .news .shop__item__card h5,
#news .news .shop__item__card h6 {
    display: none;
  }
}
@media (max-width: 1245px) {
  #news .news .shop__item {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
  }
  #news .news .shop__item .res {
    display: none;
  }
}
@media (max-width: 910px) {
  #news .news .shop__item {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
  #news .news .shop__item .res {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  #news .news .shop__item {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 900px) {
  #news {
    padding-bottom: 100px;
  }
}
@media (max-width: 600px) {
  #news {
    padding-bottom: 40px;
  }
}