// @use "../global";


@font-face {
   font-family: 'Rubik', sans-serif;
   src: url(../../fonts/Rubik-Black.ttf);
}
@font-face {
   font-family: 'Rubik', sans-serif;
   src: url(../../fonts/Rubik-Bold.ttf);
}
@font-face {
   font-family: 'Rubik', sans-serif;
   src: url(../../fonts/Rubik-ExtraBold.ttf);
}

@font-face {
   font-family: 'Rubik', sans-serif;
   src: url(../../fonts/Rubik-Light.ttf);
}

@font-face {
   font-family: 'Rubik', sans-serif;
   src: url(../../fonts/Rubik-Medium.ttf);
}

@font-face {
   font-family: 'Rubik', sans-serif;
   src: url(../../fonts/Rubik-Regular.ttf);
}
@font-face {
   font-family: 'Rubik', sans-serif;
   src: url(../../fonts/Rubik-SemiBold.ttf);
}

html,body *{
   font-family: 'Rubik', sans-serif; }