@use "../global";
@use "../layout/header";
@use "../layout/footer";
@use "../utils/mixins" as mxn;
@use "../utils/variables" as var;
@use "../themes/backtop";
@use "../themes/loading";
.milliy{
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
#navbar {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  .navbar__container {
    display: flex;
    justify-content: space-between;
  }
  .navbar__logo {
    display: flex;
    align-items: center;
    a {
      display: flex;
      align-items: center;
    }
    .logo__faces {
      padding-right: 11.41px;
    }
    @media (max-width: 980px) {
      .logo__title {
        display: none;
      }
    }
  }
  .navbar__catalog {
    border-radius: 4px;
    background: var(--main-secondary, #70c05b);
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    button {
      background: transparent;
    }
    @media (max-width: 500px) {
      display: none;
    }
    a {
      color: var(--main-on-secondary, #fff);
      text-align: center;
      font-family: "Rubik", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .navbar__menu {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @media (max-width: 500px) {
      display: none;
    }
    h3 {
      color: var(--main-on-surface, #414141);
      text-align: center;
      font-family: Rubik;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
    }
    &__heart {
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        padding-bottom: 8px;
      }
    }
    &__product {
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        padding-bottom: 8px;
      }
    }
    &__cart {
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        padding-bottom: 8px;
      }
    }
  }
  .navbar__account {
    button {
      background-color: transparent;
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      h2 {
        color: var(--on-surface, #232323);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
      @media (max-width: 780px) {
        h2 {
          display: none;
        }
      }
      @media (max-width: 768px) {
        h2,
        .nav__acc {
          display: none;
        }
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
  .navbar__input {
    position: relative;
    width: 30%;
    input {
      border-radius: 4px;
      border: 1px solid var(--main-secondary, #70c05b);
      background: var(--main-surface, #fff);
      padding: 12px;
      color: var(--grayscale-hard, #8f8f8f);
      /* Desc/Text/S */
      font-family: Rubik;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      width: 100%;
    }
    img {
      position: absolute;
      right: 10px;
      top: 12px;
    }
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}

#hero {
  background: url("/image/home/hero-bg.png") center no-repeat;
  background-size: cover;
  .hero {
    display: flex;
    gap: 18px;
    img {
      padding-left: 67px;
    }
    h1 {
      padding-top: 64px;
      color: var(--main-on-surface, #414141);
      text-align: center;
      font-family: "Rubik", sans-serif;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 72px */
    }
    @media (max-width: 1100px) {
      align-items: center;
      h1 {
        color: var(--main-on-surface, #414141);
        text-align: center;
        font-family: Rubik;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        margin: 0 auto;
        padding: 27px 0;
      }
    }
    @media (max-width: 700px) {
      img {
        display: none;
      }
      h1 {
        color: var(--main-on-surface, #414141);
        text-align: center;
        font-family: Rubik;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 27px */
        margin: 0 auto;
        padding: 27px 0;
      }
    }
  }
}

#action {
  background: var(--main-bg-page, #fbf8ec);
  .action {
    &__header {
      padding-top: 80px;
      display: flex;
      justify-content: space-between;
      h1 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 54px */
      }
      .action__title {
        display: flex;
        align-items: center;
        gap: 8px;
        a {
          color: var(--grayscale-hardest, #606060);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }
    }
    &__item {
      padding-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px;
      &__card {
        width: 100%;
        position: relative;
        h2 {
          position: absolute;
          left: 8px;
          top: 118px;
          padding: 4px 8px;
          border-radius: 4px;
          background: var(--main-primary, #f63);
          color: var(--main-on-primary, #fff);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
        .action__like {
          position: absolute;
          right: 8px;
          top: 8px;
        }
        .card__main {
          padding: 8px;
          width: 100%;
        }
        background: #fff;
        h3 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          padding-top: 8px;
          padding-bottom: 8px;
        }

        button {
          margin-top: 8px;
          color: var(--main-secondary, #70c05b);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          background: transparent;
          border-radius: 4px;
          border: 1px solid var(--main-secondary, #70c05b);
          padding: 8px;
          width: 100%;
          &:hover {
            border-radius: 4px;
            background: var(--main-primary, #f63);
            color: var(--main-on-primary, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            border: 1px solid var(--main-secondary, #f63);
          }
        }
        .action1 {
          width: 100%;
          padding-bottom: 8px;
        }
        .star-card {
          padding-top: 8px;
          padding-bottom: 8px;
        }
        .productCardContent {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        h6 {
          color: var(--grayscale-hardest, #606060);
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          padding-right: 6px;
        }
        h4 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik", sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 27px */
          padding-right: 6px;
        }
        h5 {
          color: var(--grayscale-light, #bfbfbf);
          font-family: "Rubik", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }
        .card__body {
          display: flex;
          justify-content: space-between;
          padding: 0 8px;
          p {
            color: var(--grayscale-light, #bfbfbf);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
          }
        }
        .card__head {
          display: flex;
          justify-content: space-between;
          padding: 0 8px;

          .product-card-price {
            color: var(--grayscale-hardest, #606060);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
          &__left {
            &__head {
              display: flex;
            }
          }
          &__right {
            &__head {
              display: flex;
            }
          }
        }
        @media (max-width: 768px) {
          h5,
          h6 {
            display: none;
          }
        }
      }
      @media (max-width: 1245px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        .res {
          display: none;
        }
      }
      @media (max-width: 910px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        .res {
          display: inline-block;
        }
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media (max-width: 900px) {
    padding-top: 40px;
  }
  @media (max-width: 600px) {
    padding-top: 10px;
  }
}

#news {
  background: var(--main-bg-page, #fbf8ec);

  .news {
    &__header {
      padding-top: 80px;
      display: flex;
      justify-content: space-between;
      h1 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 54px */
      }
      .news__title {
        display: flex;
        align-items: center;
        gap: 8px;
        a {
          color: var(--grayscale-hardest, #606060);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }
    }
    &__item {
      padding-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
      button {
        margin-top: 8px;
        color: var(--main-secondary, #70c05b);
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        background: transparent;
        border-radius: 4px;
        border: 1px solid var(--main-secondary, #70c05b);
        padding: 8px;
        width: 100%;
        &:hover {
          border-radius: 4px;
          background: var(--main-primary, #f63);
          color: var(--main-on-primary, #fff);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          border: 1px solid var(--main-secondary, #f63);
        }
      }
      .product-card-title {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .action1 {
        width: 100%;
        padding-bottom: 8px;
      }
      .star-card {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .productCardContent {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .card__body {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        p {
          color: var(--grayscale-light, #bfbfbf);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }
      }
      .card__head {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;

        .product-card-price {
          color: var(--grayscale-hardest, #606060);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
        &__left {
          &__head {
            display: flex;
          }
        }
        &__right {
          &__head {
            display: flex;
          }
        }
      }
      &__card {
        h2 {
          position: absolute;
          left: 8px;
          top: 118px;
          padding: 4px 8px;
          border-radius: 4px;
          background: var(--main-primary, #f63);
          color: var(--main-on-primary, #fff);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
        position: relative;
        .news__like {
          position: absolute;
          right: 8px;
          top: 8px;
        }
        .card__main {
          padding: 8px;
        }
        background: #fff;
        h3 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          padding-top: 8px;
          padding-bottom: 8px;
        }

        button {
          margin-top: 8px;
          color: var(--main-secondary, #70c05b);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          background: transparent;
          border-radius: 4px;
          border: 1px solid var(--main-secondary, #70c05b);
          padding: 8px;
          width: 100%;
          &:hover {
            border-radius: 4px;
            background: var(--main-primary, #f63);
            color: var(--main-on-primary, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            border: 1px solid var(--main-secondary, #f63);
          }
        }
        .news1 {
          width: 100%;
        }
        h6 {
          color: var(--grayscale-hardest, #606060);
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          padding-right: 6px;
        }
        h4 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 27px */
          padding-right: 6px;
        }
        h5 {
          color: var(--grayscale-light, #bfbfbf);
          font-family: "Rubik", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }
        .card__head {
          display: flex;
          justify-content: space-between;
          &__left {
            &__head {
              display: flex;
            }
          }
          &__right {
            &__head {
              display: flex;
            }
          }
        }
        @media (max-width: 768px) {
          h5,
          h6 {
            display: none;
          }
        }
      }
      @media (max-width: 1245px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        .res {
          display: none;
        }
      }
      @media (max-width: 910px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        .res {
          display: inline-block;
        }
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    .shop__item {
      padding-top: 40px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 40px;
      button {
        margin-top: 8px;
        color: var(--main-secondary, #70c05b);
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        background: transparent;
        border-radius: 4px;
        border: 1px solid var(--main-secondary, #70c05b);
        padding: 8px;
        width: 100%;
        &:hover {
          border-radius: 4px;
          background: var(--main-primary, #f63);
          color: var(--main-on-primary, #fff);
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          border: 1px solid var(--main-secondary, #f63);
        }
      }
      .product-card-title {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .action1 {
        width: 100%;
        padding-bottom: 8px;
      }
      .star-card {
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .productCardContent {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .card__body {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        p {
          color: var(--grayscale-light, #bfbfbf);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }
      }
      .card__head {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;

        .product-card-price {
          color: var(--grayscale-hardest, #606060);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
        &__left {
          &__head {
            display: flex;
          }
        }
        &__right {
          &__head {
            display: flex;
          }
        }
      }
      &__card {
        h2 {
          position: absolute;
          left: 8px;
          top: 118px;
          padding: 4px 8px;
          border-radius: 4px;
          background: var(--main-primary, #f63);
          color: var(--main-on-primary, #fff);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
        position: relative;
        .news__like {
          position: absolute;
          right: 8px;
          top: 8px;
        }
        .card__main {
          padding: 8px;
        }
        background: #fff;
        h3 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          padding-top: 8px;
          padding-bottom: 8px;
        }

        button {
          margin-top: 8px;
          color: var(--main-secondary, #70c05b);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          background: transparent;
          border-radius: 4px;
          border: 1px solid var(--main-secondary, #70c05b);
          padding: 8px;
          width: 100%;
          &:hover {
            border-radius: 4px;
            background: var(--main-primary, #f63);
            color: var(--main-on-primary, #fff);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            border: 1px solid var(--main-secondary, #f63);
          }
        }
        .news1 {
          width: 100%;
        }
        h6 {
          color: var(--grayscale-hardest, #606060);
          font-family: Rubik;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
          padding-right: 6px;
        }
        h4 {
          color: var(--main-on-surface, #414141);
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 150%; /* 27px */
          padding-right: 6px;
        }
        h5 {
          color: var(--grayscale-light, #bfbfbf);
          font-family: "Rubik", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }
        .card__head {
          display: flex;
          justify-content: space-between;
          &__left {
            &__head {
              display: flex;
            }
          }
          &__right {
            &__head {
              display: flex;
            }
          }
        }
        @media (max-width: 768px) {
          h5,
          h6 {
            display: none;
          }
        }
      }
      @media (max-width: 1245px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 32px;
        .res {
          display: none;
        }
      }
      @media (max-width: 910px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 24px;
        .res {
          display: inline-block;
        }
      }
      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
  @media (max-width: 900px) {
    padding-bottom: 100px;
  }
  @media (max-width: 600px) {
    padding-bottom: 40px;
  }
}

#app {
  background: var(--main-bg-page, #fbf8ec);
  padding-top: 80px;
  .app {
    h2 {
      color: var(--main-on-surface, #414141);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 54px */
      padding-bottom: 40px;
    }
    &__item {
      padding-bottom: 120px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      @media (max-width: 1000px) {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 32px;
      }
      img {
        position: absolute;
        right: 0px;
        width: 40%;
        @media (max-width: 525px) {
          width: 50%;
        }
        @media (max-width: 475px) {
          width: 60%;
          right: -50px;
        }
        @media (max-width: 420px) {
          display: none;
        }
      }
      .app__item__card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 32px;
        border-radius: 4px;
        background: var(--main-primary-muted, #fcd5ba);
        width: 100%;
        overflow: hidden;
        position: relative;
        &:hover {
          box-shadow: 0px 8px 16px 0px rgba(202, 147, 96, 0.5);
        }
        @media (max-width: 500px) {
          flex-direction: column-reverse;
          width: 100%;
          padding: 8px;
          img {
            justify-content: center;
            margin: 0 auto;
          }
        }
        .app__item__card__left {
          width: 50%;
          display: flex;
          flex-direction: column;
          gap: 6px;

          @media (max-width: 1000px) {
            padding-top: 72px;
            padding-bottom: 72px;
          }
          @media (max-width: 700px) {
            padding: 8px 0px;
            width: 60%;
          }
          @media (max-width: 500px) {
            width: 90%;
            padding: 8px;
          }
          .specialCard__title {
            padding-top: 22px;
            padding-left: 8px;
            color: var(--main-on-surface, #414141);
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 36px */
          }
          p {
            padding-left: 8px;
            color: var(--main-on-surface, #414141);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
        }
      }
      .app1 {
        display: flex;
        justify-content: space-between;
        padding: 8px 8px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;

        .left__text {
          width: 50%;
          @media (max-width: 1000px) {
            padding-top: 72px;
            padding-bottom: 72px;
          }
          @media (max-width: 700px) {
            padding: 8px 0px;
          }
          h3 {
            padding-top: 22px;
            padding-left: 8px;
            color: var(--main-on-surface, #414141);
            font-family: Rubik;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 36px */
          }
          p {
            padding-left: 8px;
            color: var(--main-on-surface, #414141);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
          }
        }
      }
    }
  }
}

.maps2 {
  width: 100%;
  height: 354px;
  object-fit: cover;
}
.tab-btn {
  border-radius: 4px;
  background: var(--grayscale-lightest, #f3f2f1);
  padding: 8px;
  font-size: 24px;
  margin-right: 24px;
  color: var(--grayscale-hardest, #606060);
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
  &:active {
    border-radius: 4px;
    background: var(--main-secondary, #70c05b);
  }
}
.active {
  border-radius: 4px;
  background: var(--main-secondary, #70c05b);
  color: #fff;
}
#map {
  padding-bottom: 120px;
  background: var(--main-bg-page, #fbf8ec);

  .map {
    .tabs-btn {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin-bottom: 24px;
    }
    h2 {
      color: var(--main-on-surface, #414141);
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 54px */
      padding-bottom: 40px;
    }
  }
}

#surface {
  background: var(--main-bg-page, #fbf8ec);
  padding-bottom: 80px;
  .surface {
    &__header {
      padding-top: 80px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 40px;

      h1 {
        color: var(--main-on-surface, #414141);
        font-family: "Rubik", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 54px */
      }
      .surface__title {
        display: flex;
        align-items: center;
        gap: 8px;
        a {
          color: var(--grayscale-hardest, #606060);
          text-align: center;
          font-family: "Rubik", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 24px */
        }
      }
    }
    .surface__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 40px;
      @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
        .res {
          display: none;
        }
      }
      @media (max-width: 580px) {
        grid-template-columns: repeat(1, 1fr);
        .res {
          display: inline-block;
        }
      }
      .surface__items__card {
        background-color: #fff;
        position: relative;
        img {
          width: 100%;
        }
        .surface__content {
          padding: 10px;
          h6 {
            color: var(--grayscale-hard, #8f8f8f);
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 18px */
            padding-top: 10px;
            padding-bottom: 10px;
          }
          h3 {
            color: var(--main-on-surface, #414141);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 27px */
          }
          p {
            color: var(--main-on-surface, #414141);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            padding-top: 10px;
            padding-bottom: 50px;
          }
          button {
            color: var(--main-secondary, #70c05b);
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 24px */
            border-radius: 4px;
            background: var(--main-secondary-muted, #e5ffde);
            padding: 8px;
            position: absolute;
            bottom: 8px;
            &:hover {
              border-radius: 4px;
              background: var(--main-secondary, #70c05b);
              color: #fff;
            }
          }
        }
      }
    }
  }
}

#footer {
  background: url("/image/home/footer-bg.png");
  background-color: #f9f4e2;
  padding-bottom: 28px;
  padding-top: 24px;
  .footer {
    img {
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__link {
      column-gap: 40px;
      row-gap: 10px;
      display: flex;
      flex-direction: row;
      @media (max-width: 900px) {
        width: 50%;
        flex-wrap: wrap;
      }
      @media (max-width: 600px) {
        display: none;
      }
      li {
        list-style-type: none;
        a {
          color: var(--main-on-surface, #414141);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%; /* 18px */
        }
      }
    }
    &__phone {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
      a {
        color: var(--main-on-surface, #414141);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
    }
    &__social {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 8px;

      @media (max-width: 768px) {
        img {
          padding-top: 0;
        }
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  .dark__footer {
    padding-top: 16px;
    display: flex;
    justify-content: end;
    @media (max-width: 768px) {
      padding-top: 0;
    }
    h4 {
      color: var(--main-on-surface, #414141);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 18px */
    }
    display: flex;
    gap: 8px;
  }
  .footer__link2 {
    padding-top: 24px;
    column-gap: 40px;
    row-gap: 10px;
    display: flex;
    flex-direction: row;
    display: none;
    flex-wrap: wrap;
    @media (max-width: 900px) {
      width: 100%;
    }
    @media (max-width: 600px) {
      display: flex;
      padding-bottom: 20px;
    }
    li {
      list-style-type: none;
      a {
        color: var(--main-on-surface, #414141);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
      }
    }
  }
}

#footer__fixed {
  background: #fff;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.08);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
  background-color: #fff;
  display: none;
  padding-top: 8px;
  padding-bottom: 8px;
  .footer__fixed {
    display: flex;
    justify-content: space-between;
    .fixed__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      h6 {
        padding-top: 4px;
        color: var(--main-on-surface, #414141);
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 12px */
      }
    }
  }
  @media (max-width: 500px) {
    display: inline-block;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 40px;
  // position: absolute;
  // background-color: #fff;
  // margin: 0 auto;
  // width: 100%;

  li {
    a {
      color: var(--main-on-surface, #414141);
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 150%; /* 24px */
    }
  }
}

.d-none {
  display: none;
}

// modal

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(252, 213, 186, 0.80);
  opacity: 0;
  z-index: -1;
  transition: 0.5s;
}

.modal-show {
  z-index: 1;
  opacity: 1;
}

.modal-body {
  position: absolute;
  top: -100%;
  max-width: 600px;
  width: 100%;
  background: white;
  transition: 0.5s;
}

.modal-body-show {
  top: 50%;
  transform: translateY(-50%);
}

.modal-close-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.input-group {
  margin-bottom: 20px;
}

.valid-feedback {
  display: none;
  color: green;
}

.invalid-feedback {
  display: none;
  color: red;
}
.login-form {
  padding: 20px;
  input {
    padding: 10px;
    width: 100%;
  }
}

.form-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: var(--main-on-surface, #414141);
  text-align: center;

  /* Desc/Header/S */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  margin-bottom: 32px;
}

.modal-btn {
  border-radius: 4px;
  background: var(--main-primary-muted, #fcd5ba);
  color: var(--main-primary, #f63);
  text-align: center;

  /* Desc/Text/L */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  padding: 8px;
  width: 100%;
}
